.conteudo {
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-secundaria);
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-align: center;
}


@media screen and (min-width:1024px) {
    .conteudo {
        flex-direction: row;
    }
}