.logo {
    display: flex;
    justify-content: center;
}

.img__logo {
    width: 40%;
    height: 30%;
    padding: 1rem 0;
}

@media screen and (min-width:1024px) {
    .img__logo {
        width: 20%;
    }
}